import json, requests
headers = {
    'X-Cisco-Meraki-API-Key': '',
    'Content-Type': 'application/json',
}
#insert file to write in
fhand = open('', 'w')
ModLoc = dict()
eolDevs = list()
#insert file to read
fil = open('', 'r')
for line in fil:
    eolDevs = eolDevs + [line.strip()]
response = requests.get("https://api.meraki.com/api/v1/organizations/84080/networks", headers=headers)
d = json.loads(response.content)
for net in d:
    response = requests.get("https://api.meraki.com/api/v1/networks/"+net['id']+'/devices', headers=headers)
    devs = json.loads(response.content)
    for dev in devs:
        try:
            if dev['model'] in eolDevs and dev['name']:
                print (dev['model'], dev['name'],file=fhand)
        except KeyError:
                print (dev['model'], 'No name found' ,file=fhand)
                
for k in ModLoc.keys():
    print (k, ModLoc[k], file=fhand)
#fil.close()
fhand.close()
